@model IEnumerable<TrashCollectorProject.Models.Customer>

@{
    ViewBag.Title = "Index";
}


<h2>Employee Home Page</h2>

<h3>Todays trash pickups in my area (by zip code)</h3>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
        </tr>
    </thead>
    <tbody>
        @Html.ActionLink("Todays Pickups", "Index", "Employees") |
        @Html.ActionLink("Filter by day", "FilterByDay", "Employees")
        @*@Html.DropDownList("DaysOfWeek", null, new
   { onchange = "document.location.href='/Employees/Index?value='+this.value;" });*@

        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.ActionLink(item.firstName, "GoogleMapsAPI", "Employees", new { id = item.Id }, null)</td>
            <td>@Html.ActionLink(item.lastName, "GoogleMapsAPI", "Employees", new { id = item.Id }, null)</td>
            <td>@Html.ActionLink(item.address, "GoogleMapsAPI", "Employees", new { id = item.Id }, null)</td>
            <td>@Html.ActionLink("Confirm Pickup", "ConfirmPickup", "Employees", new { id = item.Id }, null)</td>
        </tr>
        }
    </tbody>
</table>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.state)
            </th>
            <th></th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(model => model.firstName)
            </td>
            <td>
                @Html.DisplayFor(model => model.lastName)
            </td>
            <td>
                @Html.DisplayFor(model => model.zipCode)
            </td>
            <td>
                @Html.DisplayFor(model => model.city)
            </td>
            <td>
                @Html.DisplayFor(model => model.state)
            </td>
            <td></td>
        </tr>


    </table>*@

