@model IEnumerable<TrashCollectorProject.Models.Customer>

@{
    ViewBag.Title = "Index";
}


<h2>Customer Home Page</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.weeklyPickupDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.specialOneTimePickup)
        </th>
        <th></th>
    </tr>
    @Html.ActionLink("Edit", "Edit", "Customers") |
    @Html.ActionLink("Details", "Details", "Customers") |
    @Html.ActionLink("Delete", "Delete", "Customers") |
    @Html.ActionLink("SpecialPickup", "SpecialPickup", "Customers") |
    @Html.ActionLink("HoldPickup", "HoldPickup", "Customers") |
    @Html.ActionLink("Hold Pick up", "HoldPickup", "Customers") |
    @Html.ActionLink("Budget", "Budget", "Customers")
    @*<tr>
        <td>
            @Html.LabelFor(model => model.firstName, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.weeklyPickupDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.specialOneTimePickup)
        </td>
        <td>*@


    @*</td>
        </tr>
        }*@

</table>
